<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Product Table Example</title>
	<th:block th:include="components/header :: header"></th:block>
</head>
<body>
	<div class="container">
		<h1>productTable</h1>
		<form class="form-horizontal" role="form" th:action="@{/prod/query}" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="productId">產品代號:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="productId" id="productId"
						placeholder="Enter productId">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="productId"></label>
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">查詢</button>
				</div>
			</div>
			<hr/>
			<div class="form-group">
				<table id="customerTable" class="table">
					<thead>
						<tr>
							<th>Product Id</th>
							<th>Code</th>
							<th>Name</th>
							<th>Unitprice</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="prod, rowStat: ${product}"
							th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
							<td th:text="${prod.productId}"></td>
							<td th:text="${prod.code}"></td>
							<td th:text="${prod.name}"></td>
							<td th:text="${#numbers.formatDecimal(prod.unitprice,3,'COMMA',2,'POINT')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>

</html>